#gameContainer{
    display: flex;

    text-align: center;

}

#gameBoard{

    border: 3px solid;
    background-color: white;

}

#scoreText{

    font-family: 'Inter', sans-serif;

    font-size: 100px;

}

#resetBtn{

    font-family: 'Inter', sans-serif;

    font-size: 22px;

    width: auto;

    height: 50px;

    border: 4px solid;

    border-radius: 15px;

    cursor: pointer;

}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
}

#startBtn {

    font-family: 'Inter', sans-serif;

    font-size: 22px;

    width: 150px;

    height: autopx;

    border: 4px solid;

    border-radius: 15px;

    cursor: pointer;
}